<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="owner">Owner</label>
        <input
          type="text"
          class="form-control"
          id="owner"
          required
          [(ngModel)]="plane.owner"
          name="owner"
        />
      </div>

      <div class="form-group">
        <label for="model">Model</label>
        <input
          class="form-control"
          id="model"
          required
          [(ngModel)]="plane.model"
          name="model"
        />
      </div>
      <div class="form-group">
        <label for="conso">Conso</label>
        <input
          class="form-control"
          id="conso"
          required
          [(ngModel)]="plane.conso"
          name="conso"
        />
      </div>
      <div class="form-group">
        <label for="immat">Immat</label>
        <input
          class="form-control"
          id="immat"
          required
          [(ngModel)]="plane.immat"
          name="immat"
        />
      </div>
      <div class="form-group">
        <label for="icao">Icao</label>
        <input
          class="form-control"
          id="icao"
          required
          [(ngModel)]="plane.icao"
          name="icao"
        />
      </div>

      <button (click)="savePlane()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Plane was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newPlane()">Add</button>
    </div>
  </div>
</div>
