<div *ngIf="!loading">
    <div *ngFor="let plane of planes" class="mt-5">
        <h4><fa-icon [icon]="faUser"></fa-icon> {{ plane.owner }} <fa-icon [icon]="faPlane" class="ml-5"></fa-icon> {{ plane.model }}</h4>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Airports</td>
                    <td>Distance</td>
                    <td>C02 emmissions</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let flight of plane.flights">
                    <td>{{ flight.date_flight }}</td>
                    <td>{{ flight.airport_from.name }} <fa-icon [icon]="faArrowRight"></fa-icon> {{ flight.airport_to.name }}</td>
                    <td>{{ flight.distance }}km</td>
                    <td>{{ flight.gas }} kg</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="loading">
    <h1 class="text-center mt-5">Loading...</h1>
</div>