<div class="row mt-5 justify-content-between">
  <div class="col-md-6">
    <h4>Planes List</h4>
  </div>
  <div class="col-md-2">
    <a class="btn btn-success text-right" href="add">Add plane</a>
  </div>
</div>
<table class="table table-striped mt-3">
  <thead>
    <tr>
      <td>Owner</td>
      <td>Model</td>
      <td>Conso</td>
      <td>Immat</td>
      <td>Icao</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plane of planes; let i = index">
      <td>{{ plane.owner }}</td>
      <td>{{ plane.model }}</td>
      <td>{{ plane.conso }}</td>
      <td>{{ plane.immat }}</td>
      <td>{{ plane.icao }}</td>
      <td><div class="btn btn-danger" (click)="removePlane(plane)"><fa-icon [icon]="faTrash"></fa-icon></div></td>
    </tr>
  </tbody>
</table>